/* debug */
.row>*{
    min-height: 100px;
}

header{
    min-height: 60px;
    background-color: #2C3F4F;
    color: aliceblue;
}

/* PROFILE */
.profile{
    min-height: 400px;
    background-color: #1ABC9B;
    color: aliceblue;
}

.box.box-img{
    width: 200px;
}

/* hr star */

.hr-star {
    display: flex;
}

.hr-line {
    width: 100%;
    position: relative;
    margin: 15px;
    border-bottom: 16px dotted #a4c639;
}

.fa {
    position: relative;
    top: 3px;
    color: #ff82db;
}
/* ****** */

.portfolio{
    min-height: 600px;
}

.about{
    min-height: 300px;
    background-color: #1ABC9B;
}

.contact{
    min-height: 600px;
}

.info{
    min-height: 250px;
    background-color: #3A546E;
}

.copyright{
    min-height: 80px;
    background-color: #2C3F4F;
}