/* debug */
.row>*{
    min-height: 60px;
}

.navbar-dark{
    min-height: 60px;
    background-color: #2C3F4F !important;
    color: aliceblue;
}

/* PROFILE */
.profile{
    min-height: 400px;
    background-color: #1ABC9B;
    color: aliceblue;
}

.box.box-img{
    width: 300px;
    height: 300px;
}

/* hr star */

.hr-star {
    display: flex;
}

.hr-line {
    width: 10vw;
    position: relative;
    margin: 15px;
    border-bottom: 3px solid aliceblue;
}

.fa-star {
    position: relative;
    top: 3px;
}

.hr-line.dark{
    border-bottom: 3px solid #2C3F4F;
}
/* ****** */

.portfolio{
    min-height: 600px;
}

.about{
    min-height: 300px;
    color: aliceblue;
    background-color: #1ABC9B;
}

button{
    padding: 5px 10px;
    color: inherit;
    border: 2px solid aliceblue;
    border-radius: 4px;
    background-color: inherit;
}

.contact{
    min-height: 600px;
}

.col-10.submit>input{
    padding: 5px 10px;
    background-color: #1ABC9B;
    color: aliceblue;
    border: 3px solid aliceblue;
    border-radius: 8px;
}
.info{
    min-height: 150px;
    background-color: #3A546E;
    color: aliceblue;
}

.copyright{
    min-height: 80px;
    background-color: #2C3F4F;
    color: aliceblue;
}